.App {
  max-width: 2000px;
  background-color: #DDDDDD;
}

.home {
  padding: 0 40px;
  height: 700px;
  color: rgb(6, 133, 150);
  background-color: #DDDDDD;
  overflow: hidden;
  
}
.home-sect {
  width: 100%;
  padding-top: 90px;
  /* padding-left: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home-sect >img {
  width: 500px;
}
.home-sect >div{
  padding-left: 45px;
}
.intro > button {
  border-radius: 19px;
  padding: 12px 18px;
  border: none;
  font-size: large;
  background-color: #F6D6AD;
  cursor: pointer;
}
.intro > button:hover{
  background-color: #856d4f;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}
.text {
  font-size: 19px;
}

.sigin-up{
  height: 650px;
}

.register {
  width: 50%;
  margin: 10px auto;
  
}

.register-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 480px;
  padding-top: 18px;
  border-radius: 6px;
  align-items: center;
  box-shadow: 2px 2px 3px 2px #232424;
  margin-left: 70px;
  background-color: #706b68;
}
.register-form label, 
.register-form input {
  padding: 9px 6px;
  width: 65%;
  border-radius: 5px;
  border: none;
}

.register-form > button {
  border-radius: 12px;
  padding: 7px 14px;
  border: none;
  font-size: 15px;
  margin-top: 20px;
  background-color: #f7ba6c;
  cursor: pointer;
}


@media screen and(max-width:650px) {
  
  .home-sect{
    width: 100%;
    flex-direction: column;
  }
  .home-sect >img {
    width: 250px;
  }
  .heading {
    font-size: 20px;
  }
  .intro {
    padding-bottom: 10px;
  }
  .text{
    margin-bottom: 0;
  }
}




