.App {
  max-width: 2000px;
  background-color: #085264;
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif; */
}

.home {
  padding: 0 40px;
  height: 700px;
  color: rgb(6, 133, 150);
  background-color: #DDDDDD;
  overflow: hidden;
  
}
.home-sect {
  width: 100%;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home-sect >img {
  width: 500px;
}
.home-sect >div{
  padding-left: 45px;
}
.intro > button {
  border-radius: 19px;
  padding: 12px 18px;
  border: none;
  font-size: large;
  background-color: #F6D6AD;
  cursor: pointer;
}
.intro a {
  text-decoration: none;
  color: black;
}
.intro > button:hover{
  background-color: #856d4f;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}
.text {
  font-size: 19px;
}

.sigin-up, .sigin-in, .Parcel{
  height: 100vh;
  padding-bottom: 60px;
}

.register, .login {
  
  width: 50%;
  margin: 80px auto;
  
}

.register-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 615px;
  padding-top: 25px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 2px 2px 3px 2px #232424;
  margin-left: 160px;
  background-color: #f3f1f0;
}
.register-form label, 
.login-form label{
  width: 65%;
  padding: 5px 0;
  
}

.register-form input, .login-form input, .role-select {
  background-color: rgb(233, 223, 205);
  padding: 10px 7px;
  width: 65%;
  border-radius: 5px;
  border: none;
  
}

.role-select{
  width: 67.4%;
  
}

.auth-btn {
  border-radius: 12px;
  padding: 7px 14px;
  border: none;
  font-size: 15px;
  margin-top: 20px;
  background-color: #f7ba6c;
  cursor: pointer;
}

.login-form{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 380px;
  padding-top: 100px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 2px 2px 3px 2px #232424;
  margin-left: 160px;
  background-color: #f3f1f0;
}

.order {
  padding-top: 50px;
}
.order-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 460px;
  margin: 10px auto;
  align-items: center;
  background-color: #DDDDDD;
  border-radius: 5px;
  padding-top: 65px;
}

.order-form label {
  padding: 10px 7px;
  font-size: 17px;
  width: 70%;
}
.order-form input {
  padding: 11px 8px;
  width: 70%;
  border: none;
  border-radius: 6px;
}
.final-page {
  height: 750px;
  text-align: center;
}
.final-page h2{
  padding-top: 100px;
  
}
.all-parcels {
  height: 100vh;
}




@media (max-width:650px) {
  .heading {
    font-size: 27px;
  }
  .login-form, .register-form{
    width: 100%;
    margin-left: 0;
  }
  .login, .register {
    width: 95%;
  }
  
 
}
@media (max-width:768px){
  .login, .register{
    width: 90%;
  }
}




